@import "./pages.css";
@import "./options-boxes.css";
@import "./utilities.css";
@import "./medium-zoom.css";

.vt-doc .table-wrapper {
  overflow-x: auto;
}

.vt-doc table {
  overflow-x: overflow;
  min-width: 550px;
}

.vt-doc table td {
  min-width: 70px;
}

.VPApp .vt-doc th,
.VPApp .vt-doc td {
  padding: 0.3em 0.7em;
}
