@import "./pages.css";
@import "./options-boxes.css";
@import "./utilities.css";
@import "./medium-zoom.css";

.vt-doc .table-wrapper {
  overflow-x: auto;
}

.vt-doc table {
  overflow-x: overflow;
  min-width: 550px;
}

.vt-doc table td {
  min-width: 70px;
}

.VPApp .vt-doc th,
.VPApp .vt-doc td {
  padding: 0.3em 0.7em;
}

.vt-doc .img-320 img {
  max-width: 320px;
}

.vt-doc img {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.2px 0.2px 0 rgba(0, 0, 0, 0.014), 0 0.7px 0.5px 0 rgba(0, 0, 0, 0.02), 0 1.3px 0.9px 0 rgba(0, 0, 0, 0.025), 0 2.1px 1.6px 0 rgba(0, 0, 0, 0.03), 0 3.2px 2.9px 0 rgba(0, 0, 0, 0.036), 0 5px 7px 0 rgba(0, 0, 0, 0.05);
}
